body {
  background-color: rgb(15, 15, 15);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.app-name {
  padding-left: 3rem;
  padding-top: 2rem;
  margin: 0px;
  justify-content: baseline;
  justify-self: baseline;
  margin-bottom: 0.5rem;
  font-size: xxx-large;
  width: auto;
  /* color:rgb(165, 165, 198); */
  background-image: linear-gradient(to top, rgb(151, 131, 195) 0%, #f9f3ff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* Movie list display ============================ */

.movie-list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}


/* Movie cards =================================== */

.movie-item {
  position: relative;
  margin: 1.25rem;
  margin-right: 0.5rem;
  width: clamp(225px, 25%, 260px);
  height: 230px;
  background-color: rgb(182, 182, 210);
  border-radius: 0.2rem;
  border-style: groove;
}

.image-content {
  height: 150px;
  position: relative;
}

.movie-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
}

.text-overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
  color: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size:large;
}

.sub-item {
  padding-left: 0.3rem;
  margin-bottom: 0;
  margin-top: 0.3rem;
}

.bottom-items {
  background-color: rgb(182, 182, 210);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 0.3rem;
  margin-left: 1rem;
  margin-top: 0.7rem;
  padding-left: 0.3rem;
  align-items: center;
  justify-items: center;
  gap: 4rem;
}

.button-saved {
  height: 25px;
}

.button-saved:hover {
  color: rgb(86, 76, 107)
}

.button-notsaved {
  height: 25px;
}

.button-notsaved:hover {
  color: rgb(86, 76, 107)
}

/* Page content display (movies and filter boxes) =================================== */

.page-content {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-right: 3.5rem;
}

/* Filter section ================================================ */

.filter-section {
  color: white;
  width: 100%;
}

.filter-box {
  background-color: rgb(182, 182, 210);
  color: black;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  width: clamp(200px, 92%, 400px);
  border-radius: 0.2rem;
  outline-color:rgb(255, 255, 255);
  outline-style: groove;
  outline-width: 0.2rem;
}

/* Favorites list ============================================ */

.favorites-section {
  background-color:rgb;
  width: auto;
  margin: 2.5rem;
  padding-bottom: 2rem;
}

.favorites-title {
  color: white;
  text-align: center;
}
