body {
  background-color: #212429;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app-name {
  padding-left: 3rem;
  padding-top: 2rem;
  margin: 0px;
  justify-content: baseline;
  justify-self: baseline;
  margin-bottom: 0.5rem;
  font-size: xxx-large;
  width: auto;
  /* color:rgb(165, 165, 198); */
  background-image: linear-gradient(to top, rgb(151, 131, 195) 0%, #f9f3ff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* Movie list display ============================ */

.movie-list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}


/* Movie cards =================================== */

.movie-item {
  margin: 1.25rem;
  width: clamp(225px, 25%, 260px);
  height: 370px;
  background-color: rgb(182, 182, 210);
  border-radius: 0.5rem;
}

.movie-content {
  height: 300px;
}

.movie-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.sub-item {
  margin: 1rem;
  padding-left: 0.3rem;
}

.play-icon {
  height: 30px;
}

.play-icon:hover {
  color: rgb(86, 76, 107)
}

.add-button {
  background-color: rgb(144, 144, 181);
  padding: 0.3rem;
  font-size: smaller;
  margin: auto;
  margin-left: 0;
  outline-color:#212429;
  outline-style:solid;
}

.add-button:hover {
  color: rgb(192, 188, 231);
  outline-color: rgb(86, 76, 107);
  background-color: rgb(126, 117, 146)
}

.buttons {
  background-color: rgb(182, 182, 210);
  display: flex;
  gap: 1rem;
  padding-bottom: 0.4rem;
  padding-left: 0.3rem;
}

/* Page content display (movies and filter boxes) =================================== */

.page-content {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-right: 3.5rem;
}

/* Filter section ================================================ */

.filter-section {
  color: white;
  width: 100%;
}

.filter-box {
  background-color: rgb(182, 182, 210);
  color: black;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  width: clamp(200px, 92%, 400px);
}